.buildList{
    line-height: 1.5;
    margin-left: 20px;
}
.buildList li{
    list-style-position: outside;
}
.companyTitle{
    font-size: 22px;
}

@media (max-width: 619px){
    .buildList{
        margin-left: 15px;
        font-size: 15px;
    }
    .companyTitle{
        font-size: 19px;
    }
}